{% extends "DTRESiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block bundle_body %}

    <h2>A Propos</h2>
    <hr>

    <p>L'association DTRE a été crée en ..</p>
    <br>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate aliquet sagittis.
    Vestibulum maximus nulla vel congue dapibus. Etiam consectetur orci a urna porta eleifend.
        Quisque sed enim euismod, blandit massa sit amet, mollis augue. </p>
    <br>

    <p>Pellentesque pretium consequat eros, quis dapibus risus vestibulum in. Integer laoreet ante et feugiat malesuada. Morbi non lectus neque.
    Cras consequat urna quis tellus tristique, id efficitur dolor euismod. Quisque iaculis blandit euismod. Duis id mi et orci commodo ullamcorper.
        Nulla facilisi.</p>
    <br>

    <p>Aenean cursus porttitor massa at mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Donec consequat lorem at diam sodales volutpat. Nam viverra justo sed justo posuere consectetur. Vivamus semper sed metus at consequat.
        Praesent porta vulputate consequat. Nullam feugiat elementum magna vitae pharetra.</p>
    <br>

    <p>Suspendisse nunc lorem, dictum eget lectus id, tempor dignissim sapien. Aenean in velit aliquam, varius tortor ut,
        ullamcorper erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam libero ac massa commodo, sed malesuada erat
        consectetur. Phasellus placerat tincidunt libero, sed vehicula nisi rutrum aliquet. Morbi venenatis hendrerit semper. Quisque fermentum,
        arcu varius lacinia facilisis, tellus risus congue lacus, nec vehicula dolor eros posuere augue.
        Etiam aliquet tempus pharetra. Aliquam quis blandit nibh.</p>

    <br>




{% endblock %}

{% block bundle_javascript %}


{% endblock %}