{% extends "DTRESiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block bundle_body %}

    <h2>Contact</h2>
    <hr>

    <p>Jolie Form de Contact</p>
    <br>



{% endblock %}

{% block bundle_javascript %}


{% endblock %}