{% extends "DTRESiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block bundle_body %}

    <h2>Evenements</h2>
    <hr>

    <p>Prochain événement</p>
    <br>

    Liste des events

    La DTRE sera présente à la MAKER FAIRE PARIS 2018



{% endblock %}

{% block bundle_javascript %}


{% endblock %}