{% extends "DTRESiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block bundle_body %}

    <h2>Evenements</h2>
    <hr>

    <p>Prochain événement</p>
    <br>

    <h1> COMING SOON </h1>



{% endblock %}

{% block bundle_javascript %}


{% endblock %}