{% extends "DTRESiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block bundle_body %}
    <a href="{{ path('dtre_site_homepage') }}" class="btn btn-primary">Accueil</a>
    <h2>Titre</h2>
    <hr>
{% endblock %}

{% block bundle_javascript %}


{% endblock %}