{% extends "DTRESiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block bundle_body %}

    <h2>Acceuil</h2>
    <hr>

    <p><i>Composée d’étudiants de toutes les promotions du campus de Paris, la DTRE traite différents sujets liés à la robotique.
    Systèmes embarqués, objets connectés, domotique, impression 3D, intelligence artificielle,
        drones, font partie des domaines de prédilection de l’association.</i></p>
    <br>

    <h3>Un cadre stimulant la création</h3>

    <p>Chaque année, la DTRE organise divers ateliers, conférences et formations pour rendre la robotique accessible à tous.
    Grâce aux nouvelles technologies comme l’impression 3D, concevoir et fabriquer un robot est maintenant à la portée de tout le monde.
    À travers ces événements, la DTRE encourage les gens à réaliser leurs propres robots ou objets électroniques.
        Les conférences et formations DTRE sont l’occasion pour le public de se former en électronique et informatique de manière concrète.</p>

    <p>Dans une ambiance décontractée mais néanmoins sérieuse, les membres de la DTRE ont à leur disposition les principaux outils utiles pour donner vie à leurs projets.
    Imprimante 3D dernière génération, ordinateurs, perceuses, oscilloscopes, station de soudure et autres outils
        se côtoient pour offrir aux étudiants la possibilité de réaliser tous leurs projets.</p>
    <br>

    <h3>Les projets de l’association robotique DTRE</h3>

    <p>Les projets de l’association sont nombreux et variés, allant de l’horloge connectée à internet au drone volant
    contrôlé grâce aux mouvements des mains, en passant par le robot de communication pour les salons.
        l y en pour tous les niveaux et pour tous les goûts. L’association est là pour encadrer et conseiller les étudiants dans leur projets.</p>

    <p>La DTRE a l’occasion de participer régulièrement à des événements, locaux comme la Robot Party de Meudon, nationaux
    comme la Japan Expo, et même internationaux comme la Nuit Du Hack. L’association y présente ses meilleurs projets et propose
    différents ateliers comme la fabrication de robots insectes se déplaçant vers la lumière grâce aux vibrations.
    Ces événements sont l’occasion pour les étudiants de confronter leurs projets à des regards extérieurs et de créer des liens
        avec des professionnels du milieu.</p>

    <p>L’association encourage fortement les membres à participer à des concours, en particulier des hackathons où en 48h les
    participants doivent réaliser un projet fini. Ainsi, le projet Ganymède, un réseau de plantes connectées qui analyse la
    qualité de l’air dans la ville, a été primé en remportant la première place au IoT Roadshow organisé par Intel. L’application
    smartphone et montre connectée qui calcule un itinéraire où l’air est le plus pur,  présenté au hackathon SGConnectedHack est
        arrivée sur le podium avec la deuxième place.</p>
    <br>

    <h3>Les événements de DTRE</h3>

    <p>En partenariat avec des entreprises du monde de la robotique et des systèmes embarqués,
    la DTRE a pu organiser des événements tels que l’Apérobo spécial ESIEA. L’événement rassemblant
    étudiants de toute la région parisienne, professionnels et amateurs de robotique, a été l’occasion d’un concours de
        robotique inter-école sur le thème de la fin du monde.</p>

    <p>La DTRE organise tous les ans un concours d’initiation à la robotique interne à l’ESIEA pour les
    étudiants de première année et de deuxième année. Ce concours est l’occasion de travailler dès le début de l’année
        sur un projet concret et ludique, mais c’est surtout un moyen de faire connaissance avec les nouveaux Esiearques.</p>

    <p>La DTRE a pour objectif principal de soutenir, encadrer et encourager les étudiants dans la réalisation de leurs projets,
    techniques ou événementiel, liés aux nouvelles technologies. La DTRE c’est avant tout une équipe disponible, volontaire et
        aux talents composites qui se met à disposition des étudiants du groupe ESIEA.</p>



{% endblock %}

{% block bundle_javascript %}


{% endblock %}