{% extends "DTRESiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block bundle_body %}

    <h2>Les Projets</h2>
    <hr>

    <p>Chaque année la DTRE propose plusieurs projets aux étudiants de l'ESIEA en 2, 3 et 4ème année à l'occasion des PST,
        <a href="https://www.esiea.fr/esiea-techdays-2017-projets-scientifiques-et-techniques-4a/"
           alt="Projets Scientifiques et techniques de 4ème année" target="_blank">Projets Scientifiques et Techniques</a>.
    La DTRE propose des sujets, finance les 1projets et accompagne des équipes d'étudiants motivés tout au long des projets </p>
    <br>
<div class="row">
    <h3>L'oeil de la DTRE</h3>

    <u>Description du projet :</u><br>
        <br>
        <i><p>Pour sécuriser la DTRE, nous allons réaliser un système de surveillance autonome. Ce projet comprendra une caméra
                qui peut modifier son angle de vue sur 2 axes à l'aide de deux servomoteurs reliés à une carte Raspberry Pi.
                Ces vidéos seront disponibles en temps réel sur notre site internet, depuis lequel on pourra choisir l'angle de vue de notre caméra.</p>
            <p>Le site permettra de gérer les heures de surveillance des locaux et d’activer ou non l’enregistrement vidéo 24/24.</p>
    <p>Ces fonctionnalités seront disponibles pour tous les membres autorisés de la DTRE possédant un compte sur notre site.
        En cas de détection d’une activité pendant la période de surveillance, le système enverra un mail avec le lien de la vidéo enregistrée.
        <p>Une application mobile sera aussi disponible sur Android avec les mêmes fonctionnalités que le site.</p>
    <p>Notre produit apporte une dimension domotique à la DTRE. Grâce à différents capteurs positionnés intelligemment,
            la DTRE pourra surveiller sa consommation d’électricité, chauffage, lumière, et savoir si quelqu’un est présent
            à la DTRE jour et nuit en toutes circonstances. On espère aussi pouvoir associer notre projet à d'autres projets domotique
            comme par exemple leur système d’ouverture de porte avec passe RFID ou le tank mobile connecté possédant une caméra Infrarouge.</p>
            <p> En étudiant toutes les données reçues par nos capteurs perfectionnés, notre projet permettra, sur le long terme, de faire des économies.</p></i>

    <p>Le site web du projet est à l'adresse suivante : <a target="_blank" alt="Site du projet oeil de la DTRE" href="https://oeildt.hanotaux.fr">oeildtre.fr</a></p>

    <iframe align="left" src="https://docs.google.com/presentation/d/1UVa4XTh3kncvkYPwjVPux6-FXKNVI-G1xuE_zsCd_ck/embed?start=false&loop=false&delayms=3000"
                frameborder="0" width="700" height="480" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <br>
</div>

    <br>

    <h3>Le robot héxapode</h3>

    <u>Description du projet :</u><br>
        <br><i>

    <p>Notre projet scientifique et technique, Walk'en, a pour but de créer un robot polyarticulé autonome et mobile en combinant des techniques de robotique et de SLAM
        (Simultaneous Localisation and Mapping) (5.a).</p>
    <br>
    <p>Notre solution est un robot hexapode équipé d’une caméra stéréo et d’une multitude de capteurs. Le robot reconstruit son environnement
    en temps réel puis optimise sa trajectoire afin de découvrir les zones inexplorées du milieu. Couplée à d’autres capteurs comme
    des capteurs thermiques, notre solution peut devenir un outil indispensable dans la découverte de victimes, en accédant
        à des milieux où des humains ne pourraient pas se déplacer ou couraient un trop grand danger.</p>
    <br>

    <p>Le premier objectif à atteindre est de réaliser un robot explorant une salle sans intervention humaine afin de reconstruire
    un modèle 3D de son environnement. Par la suite, nous souhaitons généraliser son comportement pour pouvoir traiter un étage
        d’un bâtiment dans son intégralité, et l’un des objectifs finaux serait de franchir des obstacles de petite taille plutôt que de les contourner.</p>
    </i><br>


{% endblock %}

{% block bundle_javascript %}


{% endblock %}